body
{
	background-color: #efefef;
	font-family: Arial, Helvetica;
}
#inputbox
{
	left: 30%;
	position: relative;
	z-index: 99;
}
#logo
{
    margin-left:auto;
    margin-right:auto;
}
#translateinput
{
	border: 1px solid yellowgreen;
	border-radius: 20px;
	font-size: 150%;
	height: 40px;
	outline: 0;
	padding-left: 10px;
	width: 40%;
}
#outputbox
{
	background-color: #fff;
	font-family: Arial, Helvetica;
	font-size: 150%;
	height: 30%;
	left: 35%;
	margin-top: -20px;
	-moz-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.20);
	padding-top: 80px;
	position: absolute;
	text-align: center;
	-webkit-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.20);
	width: 30%;
}
.accept
{
	border: 2px dashed yellowgreen !important;
}
.reject
{
	border: 2px dashed red !important;
}
.myButton
{
	background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background-color: #ededed;
	border: 1px solid #dcdcdc;
	border-radius: 20px;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	color: #777777;
	display: inline-block;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	font-family: arial;
	font-size: 18px;
	font-weight: bold;
	moz-border-radius: 20px;
	moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	padding: 8px 25px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
	webkit-border-radius: 20px;
	webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
}
.myButton:hover
{
	background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background-color: #dfdfdf;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
}
.myButton:active
{
	position: relative;
	top: 1px;
}
.lang
{
	position: absolute;
}